@import '../../assets/styles/variables.scss';

.input-container {
    position: relative;
    cursor: pointer;
}

.location-search-input {
    background-color: $lightThemeGray;
    width: 282px;
    height: 46px;
    padding-left: 50px;
    @include shadowBorder;
}

.autocomplete-dropdown-container {
    max-height: 240px;
    width: 282px;
    padding: 5px 15px;
    @include shadowBorder;
}

.search-icon {
    background: url("../../assets/icons/search.svg") center no-repeat;
    height: 34px;
    width: 27px;
    z-index: 1;
    position: absolute;
    left: 15px;
    top: 8px;
}